<header class="bg-primary text-white">
  <div class="container">
    <nav>
      <ul class="d-flex justify-content-between list-unstyled m-0 p-2">
        <li><a href="/" class="text-white text-decoration-none">Home</a></li>
        <li><a href="#" class="text-white text-decoration-none">Entries</a></li>
        <li><a href="/table" class="text-white text-decoration-none">Views</a></li>
      </ul>
    </nav>
  </div>
</header>
