<header class="text-white d-flex" style="background-color: #6fa66f;">
  
  <img src="img/stockify-logo-transparent.png" alt="app logo" style="height:60px; width:60px; position: relative; left:20px;">

  <div class="container">
    <nav class="d-flex w-100">
      <ul class="d-flex justify-content-between list-unstyled m-0 p-3 w-100">
        <li><a href="/" class="text-white text-decoration-none">Home</a></li>
        <li><a href="/test" class="text-white text-decoration-none">Entries (test page)</a></li>
        <li><a href="/api/logout" class="text-white text-decoration-none">Logout</a></li>
      </ul>
    </nav>
  </div>

</header>
