<header class="text-white" style="background-color: #6fa66f;">
  <div class="container">
    <nav>
      <ul class="d-flex justify-content-between list-unstyled m-0 p-3">
        <li><a href="/" class="text-white text-decoration-none">Home</a></li>
        <li><a href="/test" class="text-white text-decoration-none">Entries (test page)</a></li>
        <li><a href="/api/logout" class="text-white text-decoration-none">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
