# Database config
DB_HOST=localhost
DB_USER=ims_user
DB_PASS=ims_pass
DB_NAME=ims_test
#node server
PORT=3000

# Auth
SESSION_SECRET=your_session_secret_here

# API keys
OPENAI_API_KEY=your_openai_api_key_here

# Environment
NODE_ENV=development #change to production when deploying with SSL