<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
 

  <%- include("partials/bootstrap-call.ejs") %>
 

  <title>Index.ejs</title>

</head>
<body>

  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center gap-3">
      <a href="/login" class="btn btn-primary">LOGIN</a>
      <a href="/create-account" class="btn btn-secondary">CREATE ACCOUNT</a>
    </div>
  </div>
  </div>


</body>

</html>