<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="img/stockify-favicon-32x32.png" type="image/x-icon">

    <!-- Bootstrap call -->
    <%- include("partials/bootstrap-call.ejs") %>
    <%- include("partials/fonts-call.ejs") %> 

    <!-- CSS call -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Sign in</title>

</head>

<body>
  <%- include('partials/header') %>

  <main class="flex-grow-1">
    <div class="auth-container">
     
      <section class="auth-brand">
        <div class="auth-brand-inner">
          <img
            src="/img/logo.png"
            alt="Company logo"
            class="auth-logo"
          />
          <h1 class="auth-title">Stockify IMS</h1>
          <p class="auth-tagline">
           An inventory management system that allows you to manage your company's inventory, create orders, and keep track of transactions, all under one simple dashboard.
          </p>
        </div>
      </section>

     
      <section class="auth-form">
        <form id="loginForm" method="POST" class="auth-card">
          <div class="auth-card-header">
            <h2 class="auth-card-title">Sign in</h2>
            <p class="auth-card-subtitle">
              Welcome back! Log in to access your dashboard.
            </p>
          </div>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="loginField"
              placeholder="Username or Email"
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <button type="submit" class="btn w-100 auth-submit-btn">
            Login
          </button>

          
          <p id="errorMsg" class="auth-error"></p>

          <p class="switch-form">
            Don't have an account?
            <a id="createAccountLink" href="/create-account">Create account</a>
          </p>
        </form>
      </section>
    </div>
  </main>

  <%- include('partials/footer') %>
  <script src="/js/login-client.js" defer></script>
</body>
</html>
