<!DOCTYPE html>
<html>
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width-device-width, initial-scale=1.0">
   <%- include("partials/bootstrap-call.ejs") %>
   <title>Index.ejs</title>

</head>
<body>
  <div class="container-fluid">
	<div class="row">
	  <div class="col-12" style="background-color:red; height:33.33vh">
	  </div>
	</div>
	<div class="row">
	  <div class="col-6" style="background-color:orange; height:33.33vh">
	  </div>
	  <div class="col-6" style="background-color:blue; height:33.33vh">
	  </div>
	</div>
	<div class="row">
	  <div class="col-4" style="background-color:green; height:33.33vh">
	  </div>
	  <div class="col-4" style="background-color:white; height:33.33vh">
	  </div>
	  <div class="col-4" style="background-color:grey; height:33.33vh">
	  </div>
	</div>
  </div>
</body>


</html>