html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--bg-main);
  color: var(--text-main);
  flex: 1 0 auto;      /* expands to take leftover space */
}

.h1{
  color: var(--text-main);
}

footer {
  flex-shrink: 0;      /* ensures footer stays at the bottom */
}

.account-page-header {
  font-family: "Roboto", "Sans Serif";
}

.info-block {
  background-color: var(--bg-secondary);
}

/* Allows cards inside flex containers to stretch */
.card {
  height: 100%;
}

/* Removes margin from stretchable cards */
.stretch-card {
  margin: 0 !important;
  border: none;
  box-shadow: var(--card-shadow);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.left-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

#accountInfoButton {
  background-color: var(--button-bg);
  color: var(--button-text);
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {

}