html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
  margin-bottom: 2rem; 
}

#welcome-banner {
    font-family: "Roboto", "Sans Serif";
    /*
    display: flex;
    flex-direction: column;
    align-items: center;*/
}


.nav-card {
  width: 220px;
  height: 130px;
  background-color: #FAF9F6;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background-color: #eef6ff;
}

.nav-link{
    text-decoration: none;
}

#card1 {
  min-height: 500px;
}

#card2 {
  min-height: 500px;
}

#card3 {
  min-height: 250px;
}