html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;      /* expands to take leftover space */
}

footer {
  flex-shrink: 0;      /* ensures footer stays at the bottom */
}


/* ITEM TABLE STYLING */

.inventory-row {
  cursor:pointer;
}

table tr.inventory-row:hover td {
  background-color: rgba(95, 168, 122, 0.2) !important;
}

#leftCard {
   overflow: none;
  }

#tableScrollContainer {
  max-height: 60vh;      
  overflow-y: auto;      
  overflow-x: hidden;    
}

#tableScrollContainer table {
  width: auto;
  table-layout: fixed;    /* ← ensure natural column width */
  border-collapse: collapse;
}
/* ITEM CARD STYLING [START] */

.item-card {
  font-family: "Roboto", "Sans Serif";
  font-size: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: rgb(250, 249, 246);
  position: relative;
  top: calc(var(--i, 0) * -10px);
  transform: translateY(calc(var(--i, 0) * -100px));
  z-index: var(--i, 0);
}

.item-card-data {
  display: flex;
  justify-content: space-between;
  align-items: center;         /* centers key/value vertically */
  margin-bottom: 0.5rem;       /* space between rows */
  padding: 0.1rem 0.4rem;      /* subtle breathing room */
  border-radius: 15px;
}

.item-card-data p {
  margin: 0;                   /* remove the mt-3 offset */
  line-height: 1.2;            /* compact line height */
}

.item-card-data:hover {
  background-color: rgba(95, 168, 122, 0.2);
}

.item-card.fade-out { opacity: 0; transition: opacity 0.2s ease; }
.item-card.fade-in  { opacity: 1; transition: opacity 0.2s ease; }

/* ITEM CARD STYLING [END] */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/* ITEM LIST STYLING */
.inventory-list {
  display: none;
}

/* 
                -----------------------
                |MOBILE DEVICE STYLING|
                -----------------------

*/
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
 
  #leftCard {
    display: none;
  }

  #rightCard {
    font-size: 14px;
  }

  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.inventory-list {
  display: flex;
  flex-direction: column; /* stack vertically */
  padding: 1rem;
}

.inventory-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-top: 1px solid #6fa66f;
}

.inventory-list-item:last-child {
  border-bottom: 1px solid #6fa66f;;
}

.inventory-list-item:hover {
  background-color: #e0e0e0;
}

.inventory-list-data {
  color: black;
}

}

