html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
  margin-bottom: 2rem; 
}

#loginForm {
  min-width: 300px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#loginForm button {
  background-color: #5fa87a;
  color: white;
}

.signin-header {
  font-family: "Roboto", "Sans Serif";
}

.signin-title {
  font-size: 1.75rem;
}

.signin-subtitle {
  font-size: 1rem;
}

.switch-form {
  font-size: 1rem;
}

#createAccountLink {
  color:cornflowerblue;
  text-decoration: none;
}

a#createAccountLink:hover {
  text-decoration: underline;
}