html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;      /* expands to take leftover space */
}

footer {
  flex-shrink: 0;      /* ensures footer stays at the bottom */
}

/* GRID CONTAINER */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* ORDER FORM */
#orderForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#spanLabel span{
  vertical-align: middle; 
}