html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;      /* expands to take leftover space */
}

footer {
  flex-shrink: 0;      /* ensures footer stays at the bottom */
}

.grid-card {
  background-color: rgb(250, 249, 246);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#memberList {
  min-height: 60%;
  max-height: 60%;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {

}